# MongoDB
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=nextgen_portal

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=480

# App
APP_ENV=development
CORS_ORIGINS=["http://localhost:3000"]
